<div class="col-md-6 col-sm-6 group2">
	<% if post.italiandescription.present? %>
	  <span class="label label-primary italianVersion myFlag">
	    italian version
	    <span class="flag flag-icon flag-icon-it"></span>
	  </span>

	  <span class="label label-primary englishVersion myFlag">
	  	english version
	  	<span class="flag flag-icon flag-icon-gb"></span>
	  </span>
	<% end %>
</div>