<% if @posts.any? %>
	<h1>Latest posts</h1>
	<% @posts.each do |post| %>
		<%= render 'post', post: post %>
	<% end %>

	<ul class="pager"> 
    <li class="previous">
        <a href="#">← Older</a>
    </li> 
    <li class="next">
        <a href="#">Newer →</a>
    </li> 
	</ul>

<% else %>
	<h1>No posts yet</h1>
<% end %>