<% if @posts.any? %>
	<h1>Latest posts</h1>
	<% @posts.each do |post| %>
		<%= render 'post', post: post %>

	<% end %>

<nav>
  <ul class="pager">
<!--     <li><a href="#"><span class="pagination-previous">Previous</span></a></li>
    <li><a href="#"><span class="pagination-next">Next</span></a></li> -->
		<%= will_paginate @posts, :page_links => false %>
  </ul>
</nav>


<% else %>
	<h1>No posts yet</h1>
<% end %>


