<!-- New post -->
<% if user_signed_in? %>
	<div class="text-center">
		<%= link_to "New post", new_post_path, class: "btn btn-primary btn-lg" %>
	</div>
	<br>
<% end %>

<!-- Latest posts -->

<div class="panel panel-default">
  <div class="panel-heading">
      <h4>Latest Posts</h4>
  </div>
  <% if @posts.any? %>
    <ul class="list-group">
    	<% @last_posts.each do |post| %>
        <li class="list-group-item"><a href="#"><%= post.title %></a> (<%= post.created_at.strftime("%d %B %Y") %>)</li>
      <% end %>
    </ul>
  <% else %>
  	<p class='lead'>No posts yet</p>
  <% end %>
</div>