/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Josefin+Sans|Bitter|Lobster|Droid+Serif|Indie+Flower|Inconsolata|Vollkorn|Quattrocento+Sans);

/* FONTS */

.jumbotron h1 {
	font-family: 'Indie Flower', cursive;
}

.jumbotron p {
	font-family: 'Quattrocento Sans', sans-serif;
}

body {
	font-family: 'Quattrocento Sans', sans-serif !important;
}

p {
	font-family: 'Vollkorn', serif !important;
}

.blogpost {
	font-size: 1.2em;
}
/* END FONTS */

@media (min-width: 768px) { /* tablets and up */ 
    .group2 {
      text-align: right;
    }

    .jumbotron {
    	min-height: 300px;
    }
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.navbar {
	margin-bottom: 0 !important;
}

.jumbotron {
	color: white !important;
	/*background-color: green !important;*/
	background-image: url('/images/bokeh.jpg') !important;
	background-attachment: fixed;
	background-size: cover;
}