/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Josefin+Sans|Bitter|Lobster|Droid+Serif|Indie+Flower|Inconsolata|Vollkorn|Quattrocento+Sans);

/* FONTS */

.jumbotron h1 a {
	font-family: 'Indie Flower', cursive;
	color: white;
	text-decoration: none;
}

.jumbotron p {
	font-family: 'Quattrocento Sans', sans-serif;
}

body {
	font-family: 'Quattrocento Sans', sans-serif !important;
}

p {
	font-family: 'Vollkorn', serif !important;
}

.blogpost {
	font-size: 1.2em;
}

.comment-author{
	color: #428bca;
}

.comment-date {
	color: lightgray;
}
/* END FONTS */

@media (min-width: 768px) { /* tablets and up */ 
    .group2 {
      text-align: right;
    }

    .jumbotron {
    	min-height: 300px;
    }
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.jumbotron {
	color: white !important;
	background-image: url('/images/bokeh.jpg') !important;
	background-attachment: fixed;
	background-size: cover;
}
.nav.navbar-right a{
	color: white !important;
}

.navbar-text {
	color: white !important;
}

/* Header on scrolling 200px */
.navbar {
	margin-bottom: 0 !important;
	background-image: url('/images/bokeh.jpg') !important;
	background-attachment: fixed !important;
	background-size: cover !important;
	border: 0 !important ;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin:0;
    float:none;
}

.nav-center a {
	color: white !important;
	font-family: 'Indie Flower', cursive;
	font-size: 2em !important;
	text-decoration: none !important;
}

.navbar-inner{
  text-align:center;
}

#coderita_navbar {
	margin-top: 10px !important;
}

#coderita_link:after {
	content: url('/images/Parrot.png');
	vertical-align: -50%;
}

/* Previous and Next pagination */

.pagination-previous:before {
	font-family: 'Glyphicons Halflings';
	content: "\e091";
	margin-right: 8px;
}

.pagination-next:after {
	font-family: 'Glyphicons Halflings';
	content: "\e092";
	margin-left: 8px;
}

/* Comments form and comments */
#comments, #comments li {
    margin: 0;
    padding: 0;
}
 
#comments li {
    list-style: none;
}

/* Archive */

.archive-month {
	color: #428bca;
	cursor: pointer;
}
.archive-month:hover{
	text-decoration: underline;
};

/* Tags */

#tag_cloud {
  line-height: 1.6em !important;
}

#tag_cloud .s { font-size: 0.8em !important; }
#tag_cloud .s:before { content: '#';}
#tag_cloud .m { font-size: 1.2em !important; }
#tag_cloud .m:before { content: '#';}
#tag_cloud .l { font-size: 1.8em !important; }
#tag_cloud .l:before { content: '#';}